<link rel="stylesheet" type="text/css" href="game.css">

<div id="container">
  <div id="score">
    <p>Total Correct:<%= @round.correct_guesses %>/<%= @round.cards.count %></p>
  </div>

  <div class="game">
    <% @round.cards.each do |card| %>
      <div class="questionSide">
        <div id="question">
          <p><%= card.hint %></p>
        </div>
        <div id="answer">
          <input id="answer" type="text">
        </div>
        <div id="answerSide">
          <p><%= card.answer %></p>
        </div>
        <div id="button_row">
          <a href="<%= card.link %>" target="_blank">Cheat</a>
          <form action="/round/:round_id/cards/:card_id" method="post">
            <input class="text" type="button" name="answer">
            <input class="button" name="submit" value="Answer">
          </form>
          <a href="#nextCard">Skip</a>

        </div>
      </div>
    <% end %>
  </div>
</div>

