<link rel="stylesheet" type="text/css" href="/css/game.css">
<div id="container">
  <div id="score">
    <p>Total Correct:<%= @round.correct_guesses %>/<%= @round.cards.count %></p>
  </div>

  <div class="game">
      <div class="questionSide">
        <div id="question">
          <p><%= @card.hint %></p>
        </div>
        <div id="button_row">
          <a href="<%= @card.link %>" target="_blank">Cheat</a>
          <form action="/round/:round_id" method="post">
            <input class="text" type="text" name="answer">
            <input type="submit" class="button" name="submit" value="Answer">
          </form>
          <a href="#nextCard">Skip</a>
          <div id="answerSide">
            <% if @message %>
              <p><%= message %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

